
/* ==========================================================================
 * SHAME LAYER
   ========================================================================== */

._dirtyFix {
  display: none !important;
}

.u-tt--uppercase {
  text-transform: uppercase !important;
}

.u-border--small {
  border-style: solid !important;
  border-width: 1px !important;
}

